@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html,
:root {
  --background: #091a1f !important;
  --foreground: #11a8cd !important;
  --accent: #16e6c9 !important;
  --color: #cdcefb !important;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'VT323', 'Fira Code', Monaco, Consolas, monospace !important;
  font-size: 1.25rem !important;
}

a {
  color: #e5e510;
}

.profile-image {
  max-width: 150px;
  width: 150px;
  height: auto;
}

.terminal-prompt {
  color: #bc3fbc !important;
  font-weight: normal;
  margin: 0 0 0 0;
  display: inline-block;
}

.prompt-symbol {
  color: #16e6c9;
  font-weight: bold;
  display: inline;
  margin-left: 0;
}

.prompt-symbol::before {
  content: " ";
}

.prompt-symbol::after {
  content: " ";
}

.index-content p:has(.terminal-prompt) {
  margin: 0;
}