<div>
  <div class="terminal-prompt">/theantichris.com/~</div>
  <div class="prompt-symbol">>>> </div>ls ~

  <div style="margin-top: 0.5rem;">
    - Explore my work -> <a title="Christopher Lamm's resume" href="/resume">Resume</a> & <a
      title="Christopher Lamm's projects" href="/projects">Projects</a>
  </div>
  <div>
    - Connect -> <a title="Christopher Lamm on LinkedIn" href="https://www.
linkedin.com/in/theantichris/">LinkedIn</a>, <a title="Christopher Lamm on
GitHub" href="https://github.com/theantichris">GitHub</a>, <a title="Christopher Lamm on Mastodon" href="https://mastodon.
social/@the_anti_chris">Mastodon</a>, or <a title="Email Christopher Lamm
at christopherlamm81@icloud.com" href="mailto:christopherlamm81@icloud.
com">send me a message</a>
  </div>
</div>