{{ $user := .Get "user" }}
{{ $repo := .Get "repo" }}
{{ $url := printf "https://api.github.com/repos/%s/%s" $user $repo }}
{{ $resource := resources.GetRemote $url }}
{{ $data := $resource | transform.Unmarshal }}

<div class="github-card">
  <div class="card-header">
    <span class="repo-icon">📦</span>

    <a title="{{ $data.name }}" href="{{ $data.html_url }}" class="repo-name">{{ $data.name }}</a>
  </div>

  <p class="repo-description">{{ $data.description }}</p>

  <div class="card-footer">
    <div class="repo-stats">
      {{ if $data.language }}
      <span class="stat language">
        <span class="dot"></span>{{ $data.language }}
      </span>
      {{ end }}

      <span class="stat stars">⭐️ {{ $data.stargazers_count }}</span>
      <span class="stat forks">🔱 {{ $data.forks_count }}</span>

      {{ if $data.license }}
      <span class="stat license">{{ $data.license.spdx_id }}</span>
      {{ end }}
    </div>
  </div>
</div>